<form class="new-strategy-form" [formGroup]="newStrategyForm" (ngSubmit)="onSubmit()">
    <h2 class="mat-h2">New Strategy</h2>
    <mat-form-field class="example-full-width">
        <mat-label>Strategy Type</mat-label>
        <select matNativeControl formControlName="strategyType">
            <mat-error *ngIf="!newStrategyForm.controls['strategyType'].valid">
                {{ getErrorStrategyType() }}
            </mat-error>
            <option value="2 Point Moving Average">
                2 Point Moving Average</option>
        </select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Size" matNativeControl formControlName="size">
        <mat-error *ngIf="!newStrategyForm.controls['size'].valid">
                {{ getErrorSize() }}
            </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Stock Name</mat-label>
        <select matNativeControl formControlName="stockName">
            <option value="AAPL">AAPL</option>
            <option value="GOOG">GOOG</option>
            <option value="BRK-A">BRK-A</option>
            <option value="NSC">NSC</option>
            <option value="MSFT">MSFT</option>
        </select>
        <mat-error *ngIf="!newStrategyForm.controls['stockName'].valid">
                {{ getErrorStockName() }}
            </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Profit (£)" matNativeControl formControlName="profit">
        <mat-error *ngIf="!newStrategyForm.controls['profit'].valid">
                {{ getErrorProfit() }}
            </mat-error>
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" class="button" type="submit"
            [disabled]="!newStrategyForm.valid">SUBMIT</button>
    </div>
</form>