<h2>Trade List</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let trade"> {{trade.id}} </td>
  </ng-container>

  <ng-container matColumnDef="stockTicker">
    <th mat-header-cell *matHeaderCellDef> Stock Ticker </th>
    <td mat-cell *matCellDef="let trade"> {{trade.stockTicker}} </td>
  </ng-container>

  <ng-container matColumnDef="tradeType">
    <th mat-header-cell *matHeaderCellDef> Trade Type </th>
    <td mat-cell *matCellDef="let trade"> {{trade.tradeType}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let trade"> {{trade.price}} </td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> Size </th>
    <td mat-cell *matCellDef="let trade"> {{trade.size}} </td>
  </ng-container>

  <ng-container matColumnDef="lastStateChange">
    <th mat-header-cell *matHeaderCellDef> Last State Change </th>
    <td mat-cell *matCellDef="let trade"> {{trade.lastStateChange}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>