<h2>Strategies</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="currentPosition">
        <th mat-header-cell *matHeaderCellDef> Current Position </th>
        <td mat-cell *matCellDef="let strategy"> {{strategy.currentPosition}} </td>
    </ng-container>

    <ng-container matColumnDef="exitProfitLoss">
        <th mat-header-cell *matHeaderCellDef> Exit Profit Loss </th>
        <td mat-cell *matCellDef="let strategy"> {{strategy.exitProfitLoss}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let strategy"> {{strategy.id}} </td>
    </ng-container>

    <ng-container matColumnDef="lastTradePrice">
        <th mat-header-cell *matHeaderCellDef> Last Trade Price </th>
        <td mat-cell *matCellDef="let strategy"> {{strategy.lastTradePrice}} </td>
    </ng-container>

    <ng-container matColumnDef="profit">
        <th mat-header-cell *matHeaderCellDef> Profit </th>
        <td mat-cell *matCellDef="let strategy"> {{strategy.profit}} </td>
    </ng-container>

    <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let strategy"> {{strategy.size}} </td>
    </ng-container>

    <ng-container matColumnDef="stock.ticker">
        <th mat-header-cell *matHeaderCellDef> Ticker </th>
        <td mat-cell *matCellDef="let strategy"> {{strategy.stock.ticker}} </td>
    </ng-container>

    <ng-container matColumnDef="stopped">
        <th mat-header-cell *matHeaderCellDef> Stopped </th>
        <td mat-cell *matCellDef="let strategy"> {{strategy.stopped}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>