<h2>Price Feed</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef> Ticker </th>
    <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
  </ng-container>

  <ng-container matColumnDef="lastTradeNumValue">
    <th mat-header-cell *matHeaderCellDef>Last Trade</th>
    <td mat-cell *matCellDef="let element">
      <img [src]="element.lastFiveTrades[4]" width="10" height="15" />
      <a><i>{{element.lastTradeNumValue}}</i></a>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastFiveTrades">
    <th mat-header-cell *matHeaderCellDef> Last Five Trades </th>
    <td mat-cell *matCellDef="let element">
      <img [src]="element.lastFiveTrades[0]" width="10" height="15" />
      <img [src]="element.lastFiveTrades[1]" width="10" height="15" />
      <img [src]="element.lastFiveTrades[2]" width="10" height="15" />
      <img [src]="element.lastFiveTrades[3]" width="10" height="15" />
      <img [src]="element.lastFiveTrades[4]" width="10" height="15" />
    </td>
  </ng-container>

  <ng-container matColumnDef="cumulativeVolume">
    <th mat-header-cell *matHeaderCellDef> Cumulative Volume </th>
    <td mat-cell *matCellDef="let element"> {{element.cumulativeVolume}} </td>
  </ng-container>

  <ng-container matColumnDef="dayHigh">
    <th mat-header-cell *matHeaderCellDef> Day High </th>
    <td mat-cell *matCellDef="let element"> {{element.dayHigh}} </td>
  </ng-container>

  <ng-container matColumnDef="dayLow">
    <th mat-header-cell *matHeaderCellDef> Day Low </th>
    <td mat-cell *matCellDef="let element"> {{element.dayLow}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>