<mat-nav-list>
  <a mat-list-item routerLink="/price-feed" (click)="onSidenavClose()">
    <span class="nav-caption">Price feed</span>
  </a>
  <a mat-list-item routerLink="/strategies" (click)="onSidenavClose()">
    <span class="nav-caption">Strategies</span>
  </a>
  <a mat-list-item routerLink="/activity" (click)="onSidenavClose()">
    <span class="nav-caption">Activity</span>
  </a>
  <a mat-list-item routerLink="/new-strategy" (click)="onSidenavClose()">
    <span class="nav-caption">New Strategy</span>
  </a>
  <a mat-list-item routerLink="/trade-list" (click)="onSidenavClose()">
    <span class="nav-caption">Trade List</span>
  </a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">View profile</button>
    <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
  </mat-menu>
</mat-nav-list>