<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="div1">
        <h1>Stock and Roll</h1>
    </div>
    <div class="div1">
        <img src="assets/citi.png" width="40" height="40" hspace="20">
    </div>
    
  </mat-toolbar>
  